/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #585858;
	color: #FFFFFF;
	font-family: 'Arial', 'Verdana';
	text-align: center;
}

h1 {
	font-weight: normal;
	color: #41BCB6;
}

a {
	color: #585858;
}

.text {
	font-size: 15px;
	font-family: 'Courier New';
	margin: 50px;
}

.question {
	font-size: 20px;
	font-family: 'Courier New';
	margin: 50px 0;
}

.button {
	padding: 5px;
	width: 70px;
	height: 20px;
	margin: auto;
	border-radius: 10px;
	background-color: #41BCB6;
	cursor: pointer;
	text-align: center;
}

.wrap {
	margin: 0 auto;
	width: 300px;
	display: flex;
	justify-content: space-between;
}