<h1>Wooops...</h1>
	<p><div class="text">Please don't refresh the browser. This only confuses your test result!</p>
	<p>Now you will have to start from the beginning.</div></p>
	<p><%= link_to "I'm sorry", root_path, :class => "button" %></p>