<h1>Please answer honestly:</h1>
	<p>
		<div class="question"><%= @text %></div>
	</p>
	<div class="wrap">
		<%= link_to "YES", decision_path(:id => @current_id, :decision => "yes"), :class => "button" %>
		<%= link_to "NO", decision_path(:id => @current_id, :decision => "no"), :class => "button" %>
	</div>
