<h1>Welcome to the personality check!</h1>
	<p>
		<div class="text">You always wanted to know what kind of person you are? It's been bothering you how other people just know whether they like cats more or dogs, and you up to now just couldn't decide? Well, this test is your salvation! After three simple questions you will know whether you are more the cat type or the dog type.</div>
	</p>
	<p>
		<%= link_to 'START', questions_index_path, :class => "button" %>
	</p>